<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:postgresql://localhost:5432/transport</property>
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="connection.username">postgres</property>
        <property name="connection.password">pobeda</property>
        <property name="dialect">org.hibernate.dialect.PostgreSQL94Dialect</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <mapping class="com.entities.Park"/>
        <mapping class="com.entities.Equipment"/>
        <mapping class="com.entities.Transport"/>
    </session-factory>
</hibernate-configuration>